@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;

    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#logos {
    padding-top: 10px;
    text-align: right;
}

section#logos a {
    display: inline-block;
    padding: 5px;
    margin: 3px;
}

a img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.329);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    transition: 0.3s;
    box-sizing: border-box;
}

a img:hover {
    width: 60px;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.4;
    transform: translate(-8%, -6%);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.61);
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('imagens/frame-iphone.png');
    height: 629px;
    width: 314px;
}

section#celular iframe {
    position: absolute;
    top: 82px;
    left: 24px;
    width: 263px;
    height: 468px;
}